* {
    --primary: #AAFF00;
    --secondary: #007bff;
    --submit-color: #28a745;
}

.fullScreen {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: var(--primary);
    text-align: center;
}

.formContainer {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.formHeader {
    margin-bottom: 20px;
    color: black;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background-color: var(--submit-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.formSubmitButton {
    background-color: var(--secondary);
}

.formExtraButton {
    margin-top: 15px;
}

.textInput {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Hub Forms */
.hubButton {
    width: 250px;
    background-color: var(--secondary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.2s; 
}

.hubButton:hover {
    background-color: var(--submit-color);
}