body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

.exampleComponent {
    margin: 10px 0 0 10px;
    padding: 10px;
    border: 1px solid #0ec3c9;
    background-color: rgba(14, 195, 201, 0.1);
    color: #0ec3c9;
    font-size: 1em;
    text-align: center;
}

button {
    background-color: "#28a745";
    color: "white";
    padding: "10px";
    border: "none";
    border-radius: "8px";
    cursor: "pointer";
    font-weight: "bold";
}

.submitButton {
    background-color: "#007bff";
}

.createAccountButton {
    margin-top: "15px";
}

.textInput {
    padding: "10px";
    border-radius: "8px";
    border: "1px solid #ccc";
}

.loginContainer {
    background-color: "white";
    padding: "40px";
    border-radius: "12px";
    box-shadow: "0 4px 10px rgba(0, 0, 0, 0.1)";
    width: "300px";
    text-align: "center";
}
