body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

/* All Hub Styles */
.hubContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 120px;
    flex-wrap: wrap;
}

.hubColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hubBox {
    background-color: rgb(199, 96, 1);
    width: 280px;
    height: 500px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(245, 158, 100, 0.4);
    overflow-y: auto;
    text-align: center;
}