* {
    --primary: #963512;
    --secondary: #f7ba13;
}

.cuprum-600 {
  font-family: "Cuprum", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* any weight available */
  font-style: normal;
}

.russo {
  font-family: "Russo One", sans-serif;
  font-weight: 400; /* only weight 400 is available */
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    cursor: pointer;
    color: #2870db;
}
a:hover {
    text-decoration: underline;
}

button {
    font-size: 0.875em;
    background-color: var(--secondary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
/* All Hub Styles */
.hubContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.hubColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.hubBox {
    background-color: rgb(199, 96, 1);
    width: 300px;
    height: 650px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(245, 158, 100, 0.4);
    overflow-y: auto;
    text-align: center;
}
/*All Leaderboard Styles*/
.leaderboardColumn {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: var(--primary);
    border-radius: 8px;
    overflow-y: auto;
    height: calc(100vh - 60px);
}
.leaderboardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 40px;
    margin-bottom: 5px;
    background-color: var(--secondary);
    border-radius: 5px;
}
.place {
    width: 40px;
    font-weight: bold;
    font-size: 32px;
}
.username {
    flex: 1;
    text-align: left;
    font-size: 32px;
}
.wins, .losses {
    width: 50px;
    text-align: center;
    font-size: 32px;
}
/*All Account Info Styles*/
.accountColumn {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--secondary);
    border-radius: 10px;
}
.userID {
    flex: 1;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}
.accountStat {
    flex: 2;
    font-weight: normal;
    color: black;
    text-align: left;
    margin-left: 40px;
}
.changeEmail {
    font-size: 0.875em;
    background-color: rgb(0, 26, 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.changePassword{
    font-size: 0.875em;
    background-color: rgb(162, 0, 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.deleteButton{
    font-size: 0.875em;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}