body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}

.exampleComponent {
    margin: 10px 0 0 10px;
    padding: 10px;
    border: 1px solid #0ec3c9;
    background-color: rgba(14, 195, 201, 0.1);
    color: #0ec3c9;
    font-size: 1em;
    text-align: center;
}