* {
    --primary:   lch(16% 14 18);
    --secondary: lch(74% 76 83);
    --text-light: rgb(217 217 217);
    --text-dark: rgb(34 34 34);

    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* any weight available */
    font-style: normal;
}

.cuprum-600 {
    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* any weight available */
    font-style: normal;
}

.russo {
    font-family: "Russo One", sans-serif;
    font-weight: 400; /* only weight 400 is available */
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(255 255 255 / 0.87);
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    cursor: pointer;
    color: var(--secondary); /* #2870db */
}
a:hover {
    text-decoration: underline;
}

button {
    font-size: 0.875em;
    background-color: var(--secondary);
    color: var(--text-dark);
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.bg-gradient {
    background: lch(16.0% 14.0 18.0);
    background: linear-gradient(
        0deg,
        lch(20.0% 30 30) 0%, 
        lch(20.0% 30 40) 15%, 
        lch(20.0% 30 48) 30%,
        lch(20.0% 30 54) 50%, 
        lch(20.0% 30 48) 70%,
        lch(20.0% 30 40) 85%, 
        lch(20.0% 30 30) 100%
    );
}


/* Login Form Styles */
.fullScreen {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: var(--primary);
    text-align: center;
}

.formContainer {
    background-color: rgb(0 0 0 / 0.4);
    padding: 40px;
    border-radius: 12px;
    box-shadow: inset 0 5px 5px rgb(0 0 0 / 0.2);
    width: 300px;

    color: var(--text-light);

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.formSubmitButton {
    background-color: var(--secondary);
    color: var(--text-dark);
}

.formTextInput {
    display: flex;
    flex-direction: column;
}
.formTextInput > label {
    font-size: 0.875em;
    color: var(--text-light);
    width: fit-content;
}
.formTextInput > input {
    font-size: 0.875em;
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    background-color: var(--text-light);
}

label {
    display: block;
    color: black;
    text-align: left;
}

.error-box {
    background-color: hsl(0 80% 20%);
    border: hsl(0 80% 30%) solid 2px;
    border-radius: 8px;
}



/* All Hub Styles */
.hubContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.hubColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.hubBox {
    background-color: rgb(199 96 1);
    width: 300px;
    height: 650px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(245 158 100 / 0.4);
    overflow-y: auto;
    text-align: center;
}

.hubButton {
    width: 250px;
    background-color: var(--secondary);
    color: white;
    padding: 10px;
    border: 3px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.2s; 
}

.hubButton:hover {
    background-color: var(--submit-color);
    color:white;
}


/*All Leaderboard Styles*/
.leaderboardColumn {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: var(--primary);
    border-radius: 8px;
    overflow-y: auto;
    height: calc(100vh - 60px);
}
.leaderboardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 40px;
    margin-bottom: 5px;
    background-color: var(--secondary);
    border-radius: 5px;
}
.place {
    width: 40px;
    font-weight: bold;
    font-size: 32px;
}
.username {
    flex: 1;
    text-align: left;
    font-size: 32px;
}
.wins, .losses {
    width: 50px;
    text-align: center;
    font-size: 32px;
}


/* All Account Info Styles */
.accountColumn {
    position: relative;
    background-color: transparent;
    
    padding: 40px;
    border-radius: 12px;
    width: 300px;

    color: var(--text-dark);

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
/*
*/
.solid-panel {
    background-color: hsl(6, 60%, 10%);
    border-radius: 12px;
    box-shadow: 0 5px 5px rgba(0 0 0 / 0.12);
    color: var(--text-light);
}
.userID {
    flex: 1;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}
.accountStat {
    flex: 2;
    font-weight: normal;
    text-align: left;
    margin-left: 40px;
}
.changeEmail {
    font-size: 0.875em;
    background-color: rgb(0 26 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.changePassword{
    font-size: 0.875em;
    background-color: rgb(162 0 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.deleteButton{
    font-size: 0.875em;
    background-color: rgb(255 0 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}